# KAKAO REST API Key
# https://developers.kakao.com/console/app/{APP_ID}/config/platform-key
KAKAO_REST_API_KEY=

# OpenWeatherMap API Key
# https://home.openweathermap.org/api_keys
OPENWEATHER_API_KEY=
